<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <meta name="theme-color" content="#8B0000" />
    <title>Taste Treat</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="manifest" href="./app.webmanifest" />
  </head>

  <body>
    <a href="#mainContent" class="skip-link"></a>
    <loading-indicator id="loadingIndicator"></loading-indicator>
    <header>
      <hgroup class="main-head">
        <div id="nav-brand">
          <h1>Taste Treat</h1>
        </div>
        <button id="hamburgerButton">
          <i class="fas fa-bars fa-lg" id="hamburger-icon"></i>
        </button>
      </hgroup>
      <nav class="nav-mobile">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#/restaurants">Restaurant</a></li>
          <li><a href="#/favourite">Favorite</a></li>
          <li>
            <a
              href="https://www.linkedin.com/in/ahmadzakariaah/"
              target="_blank"
              >About Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <main id="mainContent"></main>
    <footer>
      <h3>Copyright &copy; 2024 - Taste Treat. Powered by:</h3>
      <h4><a id="footerLink"
        href="https://restaurant-api.dicoding.dev/"
        >restaurant-api.dicoding.dev</a>
      </h4>
    </footer>
  </body>
</html>
