.main-container {
  margin: 16px;
  border-radius: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
  width: 274px;
  height: auto;
}

.img-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  img {
    object-fit: cover;
    max-width: 100%;
    grid-area: 1 / 1;
    width: 274px;
    height: 182px;
    clip-path: polygon(
      0 0,
      100% 0,
      100% 91%,
      95% 94.5%,
      90% 97%,
      85% 98.5%,
      80% 99.5%,
      75% 100%,
      70% 99.5%,
      65% 98.5%,
      60% 97%,
      55% 94.5%,
      50% 91%,
      45% 87.5%,
      40% 85%,
      35% 83.5%,
      30% 82.5%,
      25% 82%,
      20% 82.5%,
      15% 83.5%,
      10% 85%,
      5% 87.5%,
      0 91%
    );
  }
}

.desc-container {
  padding: 16px;
  overflow: hidden;

  p {
    color: black;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
    height: 6rem;
  }
}

.city-container {
  display: flex;
  grid-area: 1 / 1;
  z-index: 10;
  margin: 0;
  align-items: flex-start;
  justify-content: flex-end;

  h3 {
    background-color: darkred;
    color: white;
    padding: 8px 16px 8px 16px;
    border-top: 2px solid white;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
  }
}

.desc-head-container {
  padding: 8px 16px 8px 16px;
  margin: 8px 0 0 0;
  background-color: darkred;
  color: white;
  border-bottom: 2px solid white;
}

.further-link {
  width: 100%;
  min-height: 48px;
  text-align: center;
  display: inline-block;
  color: darkred;
  font-size: x-large;
}

.detail-main-container {
  border-radius: 16px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}

.detail-img-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  img {
    max-width: 100%;
    height: auto;
    grid-area: 1 / 1;
  }
}

.container {
  padding: 0 16px 0 16px;
  overflow: hidden;
  background-color: white;

  p {
    color: black;
    margin: 0;
    font-size: 16px;
    line-height: 1.5;
  }
}

#item-name,
#item-rating,
#item-address,
#item-categories {
  margin: 0;
}

.overview-container {
  display: grid;
  grid-template-columns: 120px 1fr;
  padding: 8px 16px 8px 16px;
  background-color: white;
  color: black;
  column-gap: 16px;
  -webkit-column-gap: 16px;
  -moz-column-gap: 16px;
  border-color: darkred;
  border-radius: 16px;
  border-style: solid;
}

.heading-name {
  color: darkred;
}

dl {
  color: darkred;

  dt {
    padding: 4px 0 4px 0;
    color: black;
    border-bottom: 1px solid #eeeeee;
  }
}

.back-link {
  display: block;
  text-align: center;
  font-size: x-large;
  background-color: white;
  color: darkred;
}

.overview-key {
  margin: 0;
  text-align: right;
}

#favouriteButton,
#favouritedButton {
  font-size: large;
  border-radius: 16px;
  border: none;
  padding: 16px;
  background-color: darkred;
  color: white;
}

.favourite-icon {
  margin-right: 16px;
}

.detail-image {
  max-height: 100vh;
  margin: 0 auto;
}

.review-container {
  padding: 8px;
  border: 2px solid darkred;
  border-radius: 16px;
  margin-bottom: 16px;
}

.review-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #cccccc;
}

.review-head h3 {
  margin: 8px;
}

.review-body {
  padding: 8px;
}

#searchForm {
  margin: 16px;
  display: flex;
  align-items: flex-end;
}

#searchButton {
  width: auto;
  border-bottom: 2px solid darkgrey;
  border-top: none;
  border-left: 1px solid darkgrey;
  border-right: 1px solid darkgrey;
  font-size: x-large;
  border-radius: 8px;
  margin-top: 16px;
}

#search-restaurants {
  margin-right: 16px;
  height: 48px;
}

#addReviewForm {
  padding: 16px;
  margin-bottom: 16px;
  border: 2px solid darkred;
  border-radius: 16px;
  display: none;
}

#addReviewButton {
  width: 100%;
  margin-bottom: 16px;
  background-color: white;
  border: 2px darkred solid;
  color: darkred;
  font-size: x-large;
  border-radius: 24px;
  font-weight: bold;
  cursor: pointer;
}

#reviewPostButton,
#reviewCancelButton {
  width: 100%;
  font-size: x-large;
  border-radius: 8px;
  margin-left: 8px;
  margin-right: 8px;
}

.add-review-info {
  margin-bottom: 16px;
}

.review-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 639px) {
  item-container {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 640px) {
  item-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 960px) {
  item-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1280px) {
  item-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 1600px) {
  item-container {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1920px) {
  item-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
